<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
</head>
<body>
  <%- html %>
  <script src="tags/navigation.tag" type="riot/tag"></script>
  <script src="tags/deck.tag" type="riot/tag"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.1.0/riot+compiler.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>